.container {    
    position: absolute;
    top: 0; 
    flex: 1; 
    align-self: stretch;
    right: 0;
    left: 0;
    position: fixed;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 1;
}

