.container {
    width: 600px;
    height: 50px;
    float: left;
    margin: 0 auto;
}

.container__header {
    margin-left: 50%;
}

.container__firstLetters {
    margin-left: 33%;
    font-size: 22px;
}