.Fav_drinks {
    top: 12rem;    
    width: 10rem;
    background-color: #d5d4d2;
    height: 100%;  
    margin-left: 70%; 
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

.sideContainer {
    position: absolute;
    top: 10px; 
    flex: 1; 
    margin-left: 85rem;
}

.selectDrinks {
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    font-weight: bold;
}

.selectDrinks:hover {
    background-color: #c7c6c4;
    color: #fff;
}