.Fav_drinks {
    
    top: 12rem;    
    width: 10rem;
    background-color: #d5d4d2;
    position: fixed;
    height: 100%;  
    margin-left: 70%;    
    display: flex;
    display: block;
}

.selectDrinks {
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    font-weight: bold;
}

.selectDrinks:hover {
    background-color: #c7c6c4;
    color: #fff;
}

@media (--breakpoint-not-small) {  
  .Fav_drinks {
    margin-left: 70%;
  }
  
}